nav> ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.dropdown{
    display: none;
}