nav> ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul >li:hover >ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightpink;
    padding: 0;
}
.dropdown li{
    padding: 0 20px;
    margin: 0;
}